@import "../../ui/styleUtils/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.appHeader {
  width: 55vw;
  background-color: $colorHeader;
  padding: $sizeXs $sizeM;
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 30px;
}

.headerWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  padding: $sizeS $sizeM;
  z-index: 10;
}

.appHeaderLogo {
  margin-right: $sizeS;
}

.navItem {
  font-weight: bold !important;
  color: $navItemColor !important;
  text-decoration: none;

  &:hover {
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
  }
}

.loginButton {
  font-weight: bold !important;
  color: $colorPrimary !important;
}

.marker {
  font-size: 20px !important;
  font-weight: bold !important;
  color: $colorPrimary !important;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 1px;
}

.active {
  color: $colorPrimary !important;
  transform: scale(1.2);
}

.navItemContainer {
  display: flex;
  justify-content: center !important;
}