@import "../../ui/styleUtils/index.scss";
@import "../../variables.scss";

$appHeaderHeight: 80px;

.memoryView {
  padding-top: $appHeaderHeight;
  height: 100vh;
  width: 100%;
  background-color: $colorPrimaryBackground;
}

.memory {
  padding: $sizeL $sizeXxl;
  width: 100%;

  height: calc(100%);
}

.memoryHeader {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  padding: $sizeS 0;
}

.owner {
  font-weight: bold;
}

.by {
  font-weight: 400;
}

.pathText {
  font-weight: bold;
}

.memoryButtons {
  border-radius: 6px !important;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 2px;
  padding: 20px  $sizeM !important;
  font-weight: bold !important;
}

.new-multiple {
  gap: 20px;
}

.multipleChoice {
  background-color: $colorPrimary;
  padding: 4px $sizeL;
  border-radius: 50px;
  font-size: 16px !important;
  color: white !important;
  font-weight: bold !important;
  gap: 10px;
  width: fit-content;
  left: 25rem;
}

.selected {
  margin: 0 5px !important;
}

.selected * {
  color: white !important;
  font-size: 16px !important;
}

.icon {
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition: 0.1s ease all;
  }
}
