@import "../../ui/styleUtils/index.scss";
@import "../../variables.scss";

$appHeaderHeight: 80px;

.memoryView {
  padding-top: $appHeaderHeight;
  height: 100vh;
  width: 100%;
  background-color: $colorPrimaryBackground;
}

.memory {
  padding: $sizeL $sizeXxl;
  width: 100%;

  height: calc(100%);
}

.memoryHeader {
  display: flex;
  gap: 4;
  align-items: center;
  justify-content: space-between;
  padding: $sizeS 0;
}

.owner {
  font-weight: bold;
}

.by {
  font-weight: 400;
}

.pathText {
  font-weight: bold;
}

.memoryButtons {
  border-radius: 30px !important;
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 5px;
}