.vuiSummary {
  font-size: $fontSizeMedium;
}

.vuiSummaryCitation {
  vertical-align: middle;
  position: relative;
  top: -2px;
  display: inline-block;
  background-color: $colorLightShade;
  color: $colorDarkShade;
  padding: $sizeXxxs $sizeXs;
  font-size: $fontSizeSmall;
  border-radius: $sizeXxs;
  font-weight: $fontWeightBold;
  line-height: 1.4;
  transition: all $transitionSpeed;
  border: 1px solid rgb(203, 205, 222);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: white;


  &:hover {
    color: $colorPrimary;
    background-color: $colorPrimaryLightShade;
    text-decoration: underline;
  }
}

.vuiSummaryCitation-isSelected {
  background-color: $colorPrimary;
  color: $colorEmptyShade;
  border: 0px solid rgb(203, 205, 222);
  box-shadow: rgba(0, 0, 0) ;
}
