.vuiSearchInput {
  position: relative;
  display: flex;
  align-items: center;
}

.vuiSearchInput__input {
  flex-grow: 1;
  border: 1px solid $colorPrimary;
  box-shadow: $shadowSmallStart;
  transition: all $transitionSpeed;
  padding: 0 !important;
  border: 0 !important;
  background-color: transparent !important;
  width: 100%;

  &:focus-visible {
    outline: 0 !important;
  }
}

.vuiSearchInput__input__wrapper {
  flex-grow: 1;
  background-color: $colorEmptyShade;
  border: 1px solid $colorPrimary;
  border-radius: $sizeL;
  box-shadow: $shadowSmallStart;
  transition: all $transitionSpeed;
  outline-width: 2px !important;
  outline-style: solid;
  outline-color: transparent;
  outline-offset: -1px !important;
  padding: $sizeXs $sizeM;
  display: flex !important;
  align-items: center;

  &:focus-within {
    outline-color: $colorPrimary !important;
    box-shadow: $shadowSmallEnd;
  }
}

.vuiSearchInput__submitButton {
  position: absolute;
  right: $sizeS;
  line-height: 0; // TODO: Should this be applied to all buttons?
  color: $colorDarkShade;
  transition: all $transitionSpeed;

  &:hover {
    color: $colorAccent;
  }
}

.vuiSearchInput--m {
  .vuiSearchInput__input {
    padding: $sizeXs $sizeM;
    font-size: $fontSizeStandard;
  }
}

.vuiSearchInput--l {
  .vuiSearchInput__input {
    padding: $sizeS $sizeM;
    font-size: $fontSizeLarge;
  }
}

.removeButton {
  cursor: pointer;
  color: rgb(190, 29, 29);

  &:hover {
    transform: scale(1.1);
    transition: all 0.1s ease;
  }
}

.searchIcon {
  cursor: pointer;
  color: $colorPrimary;

  &:hover {
    transform: scale(1.1);
    transition: all 0.1s ease;
  }
}
