@import "./ui/index";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.grecaptcha-badge,
.grecaptcha-badge * {
  display: none !important;
}

*{
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #08a47c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #048867;
}